.#sub2 {
  height: auto;
  padding: 10px 0;
}

#sub3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bubble {
  flex: 1 1 20%;
  margin: 5px;
  max-width: calc(100% - 10px);
}